<!DOCTYPE html>
<html lang="en">
{% load static %} <!-- loads static files -->
<head>
    <meta charset="UTF-8">
    <title>TokoPOS</title>
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon-32x32.png" %}" /> <!-- creates nice icon on tab -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- loading bootstrap from CDN, might change to downloading static file here later if that's faster -->
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="{% url 'index' %}">TokoPOS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a> <!-- to the index page of the admin site, with the view -->
      </li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
        {% endif %}

    </ul>
  </div>
</nav>

<div class="container"> <!-- bootstrap container class, makes things look nice -->
    {% block main %}
        <div class="jumbotron">
            <h1 class="lead">The main block didn't get extended! </h1> <!-- Just a useful error message to see -->
        </div> <!-- Only renders if main isn't extended... -->
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>